@import "mixins/mixin_formedia.scss";
$grey-color: #758091;
$primary-white: #ffffff;
$dark-color: #000;
$mainc: "comments-container";
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Poppins;
}

ul,
div,
body,
li,
img {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.wrapper {
  text-align: right;
  margin-bottom: 40px;
}

.#{$mainc} > button {
  padding: 0.5em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: double 4px #67c5ff;
  border-radius: 3px;
  transition: 0.4s;
}

.#{$mainc} > button:hover {
  background: $grey-color;
}

.#{$mainc} {
  position: relative;
  max-width: 1440px;
  min-height: 700px;

  margin: 0 auto;
  background: $primary-white;
  text-align: center;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 501px;
    height: 501px;
    left: -122px;
    top: -60px;
    border-radius: 50%;
    background: linear-gradient(
      145.44deg,
      #e8edf0 10.54%,
      rgba(232, 237, 240, 0) 85.04%
    );
  }

  %fontm {
    font-style: normal;
    font-weight: bold;
  }
  &__title {
    @extend %fontm;
    width: 408px;
    height: 54px;
    font-size: 36px;
    line-height: 54px;
    color: $grey-color;
    margin: 100px auto;
    @include media-small {
      font-size: 22px;
      margin: 100px auto;
    }
    @include media-xs {
      font-size: 16px;
      width: fit-content;
    }
  }

  &__cards {
    display: grid;

    max-width: 1140px;
    min-height: 670px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    @include media-small {
      grid-template-columns: 1fr;
    }
    @include media-xs {
      grid-template-columns: 1fr;
    }
    @include media-medium {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card {
    border: 1px solid #e9ecf2;
    box-sizing: border-box;
    filter: drop-shadow(0px 3.84083px 20.1644px rgba(157, 175, 181, 0.25));
    border-radius: 15.3633px;
    text-align: left;
    margin: 20px 10px;
  }

  &__text {
    margin: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $dark-color;
    text-align: left;
  }

  &__client-name {
    @extend %fontm;
    font-size: 13.5px;
    margin: 20px 20px 0;
  }
  &__job {
    margin: 0;
    margin-left: 20px;

    font-size: 14px;
  }
  &__stars {
    margin: 5px 20px 20px;
  }
  &__column {
    margin-bottom: 0;
  }
  //================mimi-phpoto

  &__miniinfo-wrapper {
    display: flex;
  }

  &__miniinfo-wrapper &__stars {
    margin-bottom: 0;
  }

  &__minifoto {
    margin: 20px 0 0 20px;
  }

  //----wide-card
  .wide-card {
    display: flex;
    @include media-medium {
      display: block;
      padding: 20px 0 0;
    }
    @include media-xs {
      display: block;
    }
    .raul {
      max-height: 255px;
      min-width: 50%;
      display: flex;
      @include media-medium {
        padding: 0px 20px;
      }

      img {
        border-radius: 15.3633px;
        align-self: center;
      }
    }
  }
}

.notvisible {
  display: none;
}

#adress-p {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  background-color: $primary-white;
  padding: 10px;
  margin: 40px 0 0;
}
